html {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  background: radial-gradient(ellipse at top, $blue-2, $blue-1);
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

p {
  font-size: 20px;
  font-weight: 600;
  font-family: $Barlow;
  text-transform: uppercase;
  margin: 0;
}

span {
  font-size: 65px;
  font-weight: 700;
  font-family: $Barlow;
  margin: 0;
}

button {
  font-weight: 700;
  font-family: $Barlow;
  text-transform: uppercase;
  margin: 0;
}
